*{margin: 0;padding: 0}

body{
    background-image: linear-gradient(#fcfcfc, #edf4ff);
}

.logo_nav{
    height: 40px;
}

.ico_nav{
    margin: 10px;
}
.user{
    margin-left: 2%;
}

.hero-div{
    align-items: center;
}

.content{
    margin: 50px;
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 1px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004da3;
    color: white;
    height: 100px;
}
.text-in-header{
    text-align: center;
}
.text-in-header h6{
    font-style: italic;
}
.close-ban{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
#close-ban-x{
    font-size: 20px;
    cursor: pointer;
}

.footer{
    background-color: #00002d;
}

/* Accueil */
.content-index{
    text-align: center;
}

.content-articles{
    height: 1000px;
}

.carousel-content{
    margin: 30px 15% 0 15%;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 1px;
}

/* Liste articles */
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 30px;
    transition: 0.3s;
}
.card:hover{
    transform: translate(-10px, -10px);
    box-shadow: #004da3 10px 10px 0 0;
    transition: 0.3s;
}

/* Cookies */
.card {
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.cookies a {
    text-decoration: none;
    color: #000;
    margin-top: 8px;
}

.cookies a:hover {
    text-decoration: none;
    color: blue;
    margin-top: 8px;
}

/* OVER BOOSTRAP */
.btn-outline-primary {
    --bs-btn-color: #004da3;
    --bs-btn-border-color: #004da3;
    --bs-btn-hover-bg: #004da3;
    --bs-btn-hover-border-color: #004da3;
    --bs-btn-active-bg: #004da3;
    --bs-btn-active-border-color: #004da3;
    --bs-btn-disabled-color: #004da3;
    --bs-btn-disabled-border-color: #004da3;
}

