*{margin: 0;padding: 0}

body{
    background-image: linear-gradient(#fcfcfc, #edf4ff);
    min-height: 100vh;
}

.logo_nav{
    height: 40px;
}

.ico_nav{
    margin: 10px;
}
.user{
    margin-left: 2%;
}

.hero-div{
    align-items: center;
}

.content{
    margin: 50px auto 50px auto;
    width: 80%;
    padding: 2%;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 1px;
}

/* CGV CGU */
.content-lecture{
    width: 60%;
    margin: 50px auto 50px auto;
    padding: 2%;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 1px;
}

.content-txt-paragraphe{
    transition: 0.5s;
}
.content-txt-paragraphe:hover{
    transition: 0.5s;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 3px;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1.15);
    background-color: white;
    cursor: default;
}
.content-lecture:hover .content-txt-paragraphe:not(:hover){
    /*color: #c7c7c7;*/
    color: transparent;
    text-shadow: 0 0 8px #000;
}

/* Général */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004da3;
    color: white;
    height: 100px;
}
.text-in-header{
    text-align: center;
}
.text-in-header h6{
    font-style: italic;
}
.close-ban{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
#close-ban-x{
    font-size: 20px;
    cursor: pointer;
}

.footer{
    background-color: #00002d;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Accueil */
.content-index{
    text-align: center;
}

.content-articles{
    height: 1000px;
}

.carousel-content{
    margin: 30px 15% 0 15%;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 1px;
}

/* Liste articles */
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-shortDesc{
    min-height: 60px;
}

.affiche-categorie{
    transition: 0.5s;
}
.affiche-categorie:hover{
    transition: 0.5s;
    box-shadow: rgba(169, 169, 169, 0.5) 0 0 10px 3px;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1.05);
    background-color: white;
    cursor: pointer;
}

.card{
    margin: 30px;
    transition: 0.3s;
}
.card:hover{
    transform: translate(-10px, -10px);
    box-shadow: #004da3 10px 10px 0 0;
    transition: 0.3s;
}
.card-img-top{
    padding: 3rem;
    transition: 0.3s;
}
.card:hover .card-img-top{
    padding: 2rem;
    transition: 0.3s;
}

.video-container {
    position: relative;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.h1-lst_articles{
    font-weight: bold;
    font-size: 72px;
    margin-top: 11%;
    margin-left: 7%;
}
.h3-lst_articles{
    font-weight: bold;
    font-size: 50px;
    margin-top: 11%;
    margin-left: 7%;
}

@media only screen and (max-width: 1100px) {
    .h1-lst_articles{
        font-size: 50px;
    }
}

/* Détails */
.div-content-text{
    width: 70%;
}
.btn-add-cart{
    width: 80%;
}
.beauty-card{
    transition: 0.3s;
}
.beauty-card:hover{
    transform: translate(3px, -3px);
    transition: 0.3s;
}

@media only screen and (max-width: 1100px) {
    .div-content-text{
        width: 90%;
    }
    .btn-add-cart{
        width: 100%;
    }
}

/* Liste des utilisateurs */
.fa-eye {
    cursor: pointer;
}


/* OVER BOOSTRAP */
.btn-outline-primary {
    --bs-btn-color: #004da3;
    --bs-btn-border-color: #004da3;
    --bs-btn-hover-bg: #004da3;
    --bs-btn-hover-border-color: #004da3;
    --bs-btn-active-bg: #004da3;
    --bs-btn-active-border-color: #004da3;
    --bs-btn-disabled-color: #004da3;
    --bs-btn-disabled-border-color: #004da3;
}

/* Login */